# Ignore node_modules

node_modules

# Ignore logs and build artifacts

logs/
dist/
tmp/
coverage/

# Ignore editor-specific files

.idea/
.vscode/

# Ignore environment configuration files

.env
.env.\*
